<!DOCTYPE html>
<html>
<head>
   <!--
      JavaScript 6th Edition
      Chapter 2
      Hands-on Project 2-4

      Author: Muntasir Abdelrahim
      Date:   9/22/2017

      Filename: index.htm
   -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <title>Hands-on Project 2-4</title>
   <link rel="stylesheet" href="styles.css" />

</head>

<body>
   <header>
      <h1>
<img src="https://cdn.glitch.com/9a2a5b56-befe-4c10-aaf5-184f09ea59a4%2Fsamsung-logo.jpg?1506101238976" alt="INFO 301 - Student Project">
      </h1>
   </header>

   <article>
      <h2>Samsung Products list Selection <a href="http://www.samsung.com/us/"> © Samsung.com</a></h2>
      <form>
       <input type="checkbox" id="item1" value="500">
<label for="item1"> Samsung Galaxy Note5 4G LTE with 32GB Memory ($500.00)</label>
<input type="checkbox" id="item2" value="699">
<label for="item2">Samsung LED 1080p Smart HDTV 55" ($699.00) </label>
<input type="checkbox" id="item3" value="299">
<label for="item3">Samsung microwave ($299.00)</label>
<input type="checkbox" id="item4" value="366">
<label for="item4">Samsung 24" Top Control Dishwasher Stainless Steel ($366.00)</label>
<input type="checkbox" id="item5" value="999">
<label for="item5"> Samsung 4-Door Flex Refrigerator Black Stainless Steel ($999.00)</label>
<input type="checkbox" id="item6" value="500">
<label for="item6"> Samsung Wireless Speaker kit ($179.99)</label>
<input type="checkbox" id="item7" value="699">
<label for="item7">Samsung Watch Gear ($249.99) </label>
<input type="checkbox" id="item8" value="299">
<label for="item8">Samsung 17.3" Laptop Intel Core i5 - 8GB Memory 1TB Hard Drive ($800.00)</label>
        <input type="button" id="submit" value="Submit">

      </form>

   </article>
  <script src="script.js"></script>
</body>
</html>
